/******************************************
    COMMON
******************************************/

body {
    background-color: var(--ec-bg-body);
    font-size: 'Roboto', sans-serif;;
}

a {
    all:unset;
}
