/******************************************
STYLE CSS
******************************************/

/*
-------------------------------------------> HEADER
*/

#navbar {
    height: var(--ec-size-header);
}

.ec-logosmall {
    max-width: 50px;
}

.ec-input-group > * {
    background-color: var(--ec-bg-navbar);
    border-color: var(--ec-bg-navbar);
}

.ec-input-group input:focus {
    background-color: var(--ec-bg-navbar);
    border: 1px solid var(--ec-bg-navbar);
}

#navbar .row .col-auto ul > li {
    color: #5b5858;
}

#navbar .ec-bell {
    color: #ff8f00;
}



#ec-main-top {
    background-color: var(--ec-bg-main);
    color: white;
}

/*
-------------------------------------------> /HEADER
*/


/*
-------------------------------------------> MAIN
*/

#ec-main-container {
    height: calc(100vh - var(--ec-size-header));
}

/*
------------------------------------------- main left
*/

#ec-sidebar {
    background-color: var(--ec-bg-sidebar);
    background-image: url('/img/sidebar-bg.png ');
}

/*
------------------------------------------- main right
*/

/*
------------------------------------------- main right top
*/
.ec-btn {
    margin: 4px;
    border: 1px solid white;
}

.ec-badge {
    background-color: var(--ec-bg-badge);
    display: inline-block;
}

.breadcrumb-item.breadcrumb-item::before {
    padding: 0 8px;
}

.ec-w-30 {
    width: 40%;
}

.ec-w-20 {
    width: 10%;
}


/*
------------------------------------------- main right bottom
*/

/*
------------------------------------------- main right bottom left
*/

/*
------------------------------------------- main right bottom right
*/

/*
-------------------------------------------> MAIN
*/
