/******************************************
    VARIABLES
******************************************/

:root {
    /*
    ------------------------------------------- color
    */
        --ec-bg-body: #f8f9fa;
        --ec-bg-navbar: #e5e5e5;
        --ec-bg-main: #1b72e8;
        --ec-bg-badge: #165bba;
        --ec-bg-sidebar: #051e34;
        --ec-color-icon: #6c757d;
    /*
    ------------------------------------------- sizes
    */
        --ec-size-header: 4.375rem;
    }
    

