/******************************************
    VARIABLES
******************************************/

:root {
    /*
    ------------------------------------------- color
    */
        --ec-bg-header: #f8f9fa;
        --ec-bg-navbar: #e5e5e5;
        --ec-bg-main: #1b72e8;
        --ec-bg-sidebar: #051e34;
    /*
    ------------------------------------------- sizes
    */
        --ec-size-header: 4.375rem;
    }
    

